/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/*====================================  1. Global Styles ======================================*/
* {
    box-sizing: border-box;
  }

  
  


/*====================================  2. Typography ========================================*/
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
  text-decoration: underline;
}



/*====================================  3. Structure Styles ==================================*/

.main-header,
.main-nav,
.featuredTea,
.mission,
.contact,
.footer,
.container
.mission-container {
  display: flex;
}

.mission-container > * {
  justify-content: center;
}





/*====================================  4. Module Styles =====================================*/

img.teas{
  height: 200px;
  width: 300px;
}

.logo {
  height: 50px;
  margin-left: 10px;
}


/*header styles*/

.main-header {
  
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;   
  
}

header.main-header {
  height: 69px;
}

.mission-header {
  background-color: black;  
  flex-direction: column;
  justify-content: center;  
  flex-wrap: nowrap;
  width: 1200px;  
}

.mission-header h4, h2 {
  margin: 0.5em 0 0.5em 0;
}

/*navigation*/

.main-nav {
  
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  margin-right: 10px;

}



/*====================================  5. Component Styles ==================================*/





/*====================================  6. Page Styles  =======================================*/

/*  mission container */
.mission-hero { 
  
  justify-content: center;
  background-image: url("../Pictures/img-mission-background.webp");
  background-color: black;
  height: 700px;      
  background-position: center;
  /*background-size: cover;*/
  background-repeat: no-repeat;   
}

.mission-hero { 
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Featured Tea Container*/

.featured-container {
  display: flex;
  flex-wrap: wrap;    
}

.featured-container > * {
  flex: 1 1 33%;     
}

.featured-tea-header {
  width: 1000px;
}

/*location container*/
.locations-container {
  display: flex;
  flex-direction: row;
      
}


